.page-header.navbar .page-logo
{
    padding: 10px;
}

.page-header.navbar .page-logo .logo-default 
{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
}



.bootstrap-growl.alert
{
  z-index: 9999999999 !important;
}